*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex: 1;
}
#mainBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;

}
.rowBox{
    display: flex;
    border: 1px solid black;
    background-color: rgb(209, 206, 206);
    min-height: 20px;
    min-width: 20px;
    
}

.innerBox{     
    
    border: 1px solid black;
    display: flex;
    flex: 1;
}